{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Premio Platzi App</title>
</head>
<body>
    <header>
        <h1>Premios Platzi App</h1>
    </header>
    <main>
        {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'pollos:detail' question.id %}"> {{question.question_text}}</a></li>
        {% endfor %}
        </ul>

        {% else %}
            <p> No polls are available </p>
        {% endif %}

    </main>
    <footer>
        <a href="https://platzi.com">Platzi</a>
        <a href="#">Contacto</a>
        <a href="#">Quieres ser profe de platzi</a>
        <a href="#">Politica y privacidad</a>
        <a href="#">Terminso y condiciones</a>
    </footer>
    
</body>
</html>




<!--{% load static %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">

{% if latest_question_list %}
    <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'pollos:detail' question.id %}"> {{question.question_text}}</a></li>
        {% endfor %}
    </ul>

{% else %}
    <p> No polls are available </p>
{% endif %}

-->